<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <button><a href="/teacher/login">Login as Teacher</a></button>
    <button><a href="/student/login">Login as Student</a></button>

    <h1>Welcome to Quiz website</h1>

    <form action="/teacher/register" method="POST">
        <label>Register as Teacher</label><br><br>
        <label>Email</label>
        <input type="text" name="email" placeholder="Please insert your name"><br><br>

        <label>Password</label>
        <input type="password" name="password" placeholder="Please insert your password"><br><br>
        <input type="submit" value="register">
    </form>

    <br><br>
    <form action="/student/register" method="POST">
        <label>Register as Student</label><br><br>
        <label>Name</label>
        <input type="text" name="name" placeholder="Please insert your email"><br><br>

        <label>Password</label>
        <input type="password" name="password" placeholder="Please insert your password"><br><br>
        <input type="submit" value="register">
    </form>
</body>

</html>