<!DOCTYPE html>
<%- include('partial/header') %>

    <h1>Silahkan Jawab Pertanyaan Dibawah Ini </h1>
    <br><br>
    <form method="POST">
    <% data.forEach(data=>{ %>
        <%= data.description %>
        
        <br>
        <!-- <input type="text" name='name' placeholder="answer"> -->
        <br>
        <% }) %>
            <button type="submit">Add</button>
        </form>
<%- include('partial/footer') %>