<!DOCTYPE html>
<html>
<%- include('partials/header') %>
<body>
    <form action="/student/login" method="POST">
        <label>Login as Student</label><br><br>
        <label>name</label>
        <input type="email" name="name" placeholder="please insert your name">

        <label>password</label>
        <input type="password" name="password" placeholder="please insert your password">
        <input type="submit" value="login">
    </form>
<%- include('partials/footer') %>