<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/student/login" method="POST">
        <label>Login as Student</label><br><br>
        <label>name</label>
        <input type="password" name="name" placeholder="please insert your name">

        <label>password</label>
        <input type="password" name="password" placeholder="please insert your password">
        <input type="submit" value="login">
    </form>
</body>
</html>