<%- include('partial/header') %>

<div class="container">

        question
        <form action="/createquiz" method="POST">
        <input type="text" class="form-control" name="soal" placeholder="Enter Your question Here" po> 
        <br>
        <label for="a">A</label>
        <input type="text" name="a" placeholder="answer">
        <br>
        <label for="a">B</label>
        <input type="text" name="b" placeholder="answer">
        <br>
        <label for="a">C</label>
        <input type="text" name="c" placeholder="answer">
        <br>
        <label for="a">D</label>
        <input type="text" name="d" placeholder="answer">
        <br>
        <label for="theAnswer">The Answer</label>
        <br>
        <input type="text" placeholder="jawaban">
        <button type="submit">Add</button>
        <br><br>
        <a class="btn btn-primary" href="#" role="button">Finish</a>
        <!-- <button hre>Add</button> -->
        </form>
</div>

<%- include('partial/footer') %>